<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h2>Simple Web App with Node and Express</h2>
    <p>Working on routing first.</p>
  </body>
</html>
